coverage==7.4.1
ddt==1.7.1
httpretty==1.1.4
mock==5.1.0
pytest==8.0.0
pytest-cov==4.1.0
requests==2.32.0
requests-mock==1.11.0
responses>=0.12.1
six==1.16.0
pycodestyle==2.11.1
attrs==23.2.0
setuptools<=44.1.1
